$background-color:rgb(43, 41, 41);
$primary-color:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(201,210,209,1) 87%, rgba(179,179,179,1) 100%);

.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


